<div class="row col-md-12">
    <div class="col-md-8">
        <input class="form-control" type="text" name="search" (input)="onChange($event.target.value)" autocomplete="off" placeholder="Search">
      </div>
    <div class="col-md-2">
        <button class="col-md-1" type="button" (click)="csvExportWhole()" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span> Export CSV
        </button>
    </div>
    <div class="col-md-2">
        <button class="col-md-1" type="button" (click)="addRow()" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span> Add Row
        </button>
    </div>
</div>

<div class="column col-12">
    <ngx-table *ngIf="!serverPagination" [configuration]="configuration" [data]="data" #table [columns]="columns">
    </ngx-table>

    <ngx-table  *ngIf="serverPagination" [configuration]="configuration" [pagination]="pagination" (event)="eventEmitted($event)" [data]="data"
        #table [columns]="columns">
    </ngx-table>

    <ng-template #actionTpl let-row let-rowIndex="rowIndex">
        <i style="font-size: medium;margin: 5px;color: green;" class="fa fa-pencil-square" (click)="edit(row)"></i>
        <i style="font-size: medium;margin: 5px;color: red;" class="fa fa-trash" (click)="remove(row)"></i>
        <i style="font-size: medium;margin: 5px;color: red;" *ngIf="!row.isActive" class="fa fa-toggle-off"
            aria-hidden="true" (click)="makeActive(row)"></i>
        <i style="font-size: medium;margin: 5px;color: green;" *ngIf="row.isActive" class="fa fa-toggle-on"
            aria-hidden="true" (click)="makeDeactive(row)"></i>
    </ng-template>
</div>